{
  "plugins": [
    "vue", "html"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "rules": {
    "semi": 2,
    "comma-dangle": ["error", "always-multiline"],
    "keyword-spacing": ["error", { "before": true , "after": true }],
    "space-before-function-paren": ["error", "always"],
    "no-trailing-spaces": "error",
    "no-unused-vars": "error",
    "no-var": "error"
  }
}
