{
  "plugins": [
    "vue", "html"
  ],
  "extends": ["plugin:vue/base"],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    },
  },
  "rules": {
    "semi": 2,
    "comma-dangle": ["error", "always-multiline"],
    "keyword-spacing": ["error", {"before": true , "after": true}],
    "no-unused-vars": ["error", {"vars": "all", "args": "none", "ignoreRestSiblings": false}],
    "space-before-function-paren": ["error", "always"],
    "no-trailing-spaces": "error",
    "no-var": "error"
  },
  "overrides": [{
    "files": ["*.mdx"],
    "extends": ["plugin:mdx/base"],
    "rules": {
      semi: ["error", "never"]
    }
  }]
}
