@mixin animation-scroll() {
  @keyframes animation-scroll {
    0% {
      transform: translateY(10px);
      opacity: 1;
    }

    49% {
      transform: translateY(-10px);
      opacity: 0;
    }

    50% {
      transform: translateY(10px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin animation-show-image() {
  @keyframes animation-show-image {
    from {
      transform: translateY(-3rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@mixin animation-fade-in($name: 'default', $x: 0, $y: -3rem) {
  @keyframes animation-fade-in-#{$name} {
    from {
      transform: translate($x, $y);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}

@mixin animation-fade-out($x: 0, $y: -3rem) {
  @keyframes animation-fade-out {
    from {
      transform: translate(0, 0);
      opacity: 1;
    }
    to {
      transform: translate($x, $y);
      opacity: 0;
    }
  }
}
