$white: 	rgb(255, 255, 255);
$black:		rgb(0, 0, 0);
$dark:		rgb(81, 81, 81);
$dark2:		rgb(79, 84, 88);
$dark3:		rgb(107, 107, 107);
$dark4:		rgb(119, 119, 119);
$dark5: 	rgb(162, 162, 162);
$gray1: 	rgb(230, 230, 230);
$gray2: 	rgb(242, 242, 242);
$gray3:   rgb(214, 214, 214);
$glass:     rgba(255, 255, 255, .8);
$glass2:     rgba(242, 242, 242, .95);
$glass3:     rgba(255, 255, 255, .9);
$yellow:	rgb(201, 180, 134);
$yellow2: 	rgb(177, 155, 101);
$yellow3:	rgb(197, 179, 141);
$brown: 	rgb(243, 240, 236);
$red: rgb(239,83,80);
$green: rgb(76,175,80);

:export {
  brown: $brown;
  yellow:	$yellow;
  yellow2: 	$yellow2;
  yellow3:	$yellow3;
  glass: $glass;
  glass2: $glass3;
  glass3: $glass3;
  red: $red;
  green: $green;
  dark: $dark;
  dark2: $dark2;
  dark3: $dark3;
  dark4: $dark4;
  dark5: $dark5;
  gray1: $gray1;
  gray2: $gray2;
  gray3: $gray3;
}
