$black:		rgb(0, 0, 0);
$black2:	rgb(30, 30, 30);
$dark0: 	rgb(51, 51, 51);
$dark05: 	rgb(60, 60, 60);
$dark:		rgb(81, 81, 81);
$dark2:		rgb(79, 84, 88);
$dark3:		rgb(107, 107, 107);
$dark4:		rgb(119, 119, 119);
$dark5: 	rgb(162, 162, 162);
$gray1: 	rgb(230, 230, 230);
$gray2: 	rgb(242, 242, 242);
$white: 	rgb(255, 255, 255);
$glass:     rgba(255, 255, 255, .8);
$glass2:     rgba(242, 242, 242, .95);
$film:     	rgba(0, 0, 0, .5);
$yellow:	rgb(201, 180, 134);
$yellow2: 	rgb(177, 155, 101);
$yellow3:	rgb(197, 179, 141);
$brown: 	rgb(243, 240, 236);
$lightBlue:	rgb(145, 164, 184);
$blue:		rgb(69, 104, 142);

$title:		rgb(64, 64, 64);
$red:		rgb(250, 101, 105);



$navigationBackground: 			$white;
$navigationHoverBackground:		$dark;


$vkShare: rgb(76, 112, 157);
$googleShare: rgb(196, 0, 5);
$twitterShare: rgb(215, 242, 252);
$facebookShare: rgb(59, 89, 153);



$promoHightlight:		$yellow;
$promoBackground:		$white;
$promoBorder:			$gray1;
$promoText:				$dark;

$moduleBackground:		$white;
$moduleHeadline:		$black;
$moduleText:			$dark2;
$moduleFootnote:		$dark4;
$moduleBorder:			$gray1;
$mobuleButton:			$gray2;
$moduleButtonActive:	$dark4;

$markerText:		$white;

$pageBackground:	$gray2;

$footerBackground:	$dark2;

$vkText:			$lightBlue;
$vkHightlight:		$blue;

$vkBackground: 			rgb(088, 126, 159);
$facebookBackground: 	rgb(061, 091, 149);
$okBackground:			rgb(245, 147, 016);
$googleBackground:		rgb(210, 062, 048);
