/**
 * Icomoon
 */

 @font-face {
     font-family: 'icomoon';
     src: url("/public/fonts/Icon_Font/icomoon.eot?duiu20");
     src: url("/public/fonts/Icon_Font/icomoon.eot?duiu20#iefix") format("embedded-opentype"), url("/public/fonts/Icon_Font/icomoon.ttf?duiu20") format("truetype"), url("/public/fonts/Icon_Font/icomoon.woff?duiu20") format("woff"), url("/public/fonts/Icon_Font/icomoon.svg?duiu20#icomoon") format("svg");
     font-weight: 400;
     font-style: normal
 }

 $icomoon: 'icomoon';

/**
 * Akzidenz Grotesk
 */

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('/public/fonts/AkzidenzGroteskPro/AkzidenzGroteskPro.eot');
    src: url('/public/fonts/AkzidenzGroteskPro/AkzidenzGroteskPro.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/AkzidenzGroteskPro/AkzidenzGroteskPro.woff2') format('woff2'),
         url('/public/fonts/AkzidenzGroteskPro/AkzidenzGroteskPro.woff') format('woff'),
         url('/public/fonts/AkzidenzGroteskPro/AkzidenzGroteskPro.ttf') format('truetype'),
         url('/public/fonts/AkzidenzGroteskPro/AkzidenzGroteskPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

$AkzidensGrotesk: 'Akzidenz Grotesk';

/**
 * Peignot Light
 */

@font-face {
  font-family: 'Peignot Light';
  src: url("/public/fonts/Peignot_Light.eot");
  src: url("/public/fonts/Peignot_Light/Peignot_Light.eot?#iefix") format("embedded-opentype"),
       url("/public/fonts/Peignot_Light/Peignot_Light.woff2") format("woff2"),
       url("/public/fonts/Peignot_Light/Peignot_Light.woff") format("woff"),
       url("/public/fonts/Peignot_Light/Peignot_Light.ttf") format("truetype"),
       url("/public/fonts/Peignot_Light/Peignot_Light.svg") format("svg");
  font-weight: 400;
  font-style: normal
}

$PeginotLight: 'Peignot Light';

.font-peignot {
    font-family: $PeginotLight, Helvetica, Arial, sans-serif!important;
    font-size: 1.1em;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: initial;
    -webkit-transform: scaleY(.9);
    transform: scaleY(.9)
}

/**
 * Ristretto Pro
 */

@font-face {
  font-family: 'RistrettoPro-Black';
  src: url('/public/fonts/RistrettoPro/RistrettoPro-Black.woff') format('woff'),
}

$RistrettoProBlack: 'RistrettoPro-Black';

@font-face {
  font-family: 'RistrettoPro-Bold';
  src: url('/public/fonts/RistrettoPro/RistrettoPro-Bold.woff') format('woff'),
}

$RistrettoProBold: 'RistrettoPro-Bold';

@font-face {
  font-family: 'RistrettoPro-Light';
  src: url('/public/fonts/RistrettoPro/RistrettoPro-Light.woff') format('woff'),
}

$RistrettoProLight: 'RistrettoPro-Light';

@font-face {
  font-family: 'RistrettoPro-ExtraLight';
  src: url('/public/fonts/RistrettoPro/RistrettoPro-ExtraLight.woff') format('woff'),
}

$RistrettoProExtraLight: 'RistrettoPro-ExtraLight';

@font-face {
  font-family: 'RistrettoPro-Thin';
  src: url('/public/fonts/RistrettoPro/RistrettoPro-Thin.woff') format('woff'),
}

$RistrettoProThin: 'RistrettoPro-Thin';

@font-face {
  font-family: 'RistrettoPro-Medium';
  src: url('/public/fonts/RistrettoPro/RistrettoPro-Medium.woff') format('woff'),
}

$RistrettoProMedium: 'RistrettoPro-Medium';

@font-face {
  font-family: 'RistrettoPro-SemiBold';
  src: url('/public/fonts/RistrettoPro/RistrettoPro-SemiBold.woff') format('woff'),
}

$RistrettoProSemiBold: 'RistrettoPro-SemiBold';

@font-face {
  font-family: 'RistrettoPro-Regular';
  src: url('/public/fonts/RistrettoPro/RistrettoPro-Regular.woff') format('woff'),
}

$RistrettoProRegular: 'RistrettoPro-Regular';

/**
 * Futura PT Light
 */
 @font-face {
     font-family: 'Futura PT Light';
     src: url("/public/fonts/Futura_PT_Light/FTN35__W.eot");
     src: url("/public/fonts/Futura_PT_Light/FTN35__W.eot?#iefix") format("embedded-opentype"),
          url("/public/fonts/Futura_PT_Light/FTN35__W.woff") format("woff"),
          url("/public/fonts/Futura_PT_Light/FTN35__W.ttf") format("truetype"),
          url("/public/fonts/Futura_PT_Light/FTN35__W.svg") format("svg");
     font-weight: 400;
     font-style: normal
 }

 $FuturaPTLight: 'Futura PT Light';
