$mobile:   "screen and (max-width: 480px)";
$phablet:  "screen and (max-width: 767px)";
$tablet:   "screen and (max-width: 1023px)";
$medium:   "screen and (max-width: 1024px)";
$large:    "screen and (max-width: 1280px)";
$xlarge:   "screen and (max-width: 1500px)";
$x2large:  "screen and (max-width: 1650px)";
