

.flexbox .flexible_promo .promo_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0
}

.flexbox .flexible_promo .image_wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.flexbox .flexible_promo .image_wrapper img {
    position: absolute;
    width: 100%;
    height: auto
}

.object-fit .flexible_promo .image_wrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.socials_wrapper {
    margin-top: 20px;
    text-align: center
}

.socials_wrapper .social-likes__widget_facebook,
.socials_wrapper .social-likes__widget_odnoklassniki,
.socials_wrapper .social-likes__widget_plusone,
.socials_wrapper .social-likes__widget_vkontakte {
    background: #4f5458;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.socials_wrapper .social-likes__widget_plusone:hover {
    background: #d23e30
}

.socials_wrapper .social-likes__widget_facebook:hover {
    background: #3d5b95
}

.socials_wrapper .social-likes__widget_vkontakte:hover {
    background: #587e9f
}

.socials_wrapper .social-likes__widget_odnoklassniki:hover {
    background: #f59310
}

.socials_wrapper .social-likes_vertical .social-likes__widget {
    min-width: 40px
}




.fonts_brand {
    font-family: Peignot Light, Helvetica, Arial, sans-serif
}

.fonts_brand,
.fonts_brand_italic {
    font-weight: 400;
    letter-spacing: normal;
    text-transform: uppercase
}

.fonts_brand_italic {
    font-family: Lucida Handwriting, Peignot Light, Helvetica, Arial, sans-serif
}

.fonts_headline {
    font-family: Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif
}

.fonts_headline,
.fonts_subline {
    font-weight: 400;
    letter-spacing: normal
}

.fonts_subline {
    font-family: Lato Web, Helvetica, Arial, sans-serif
}

.fonts_content {
    font-family: Helvetica, Arial, sans-serif
}

.fonts_content,
.fonts_numbers {
    font-weight: 400;
    letter-spacing: normal
}

.fonts_numbers {
    font-family: Lato Web, Helvetica, Arial, sans-serif
}

.fonts_accent {
    font-family: Segoe UI Black, Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: normal
}

.font-default {
    font-family: Segoe UI, system, Helvetica, Arial, sans-serif!important;
    font-weight: 100
}

.font-lato {
    font-family: Lato, Helvetica, Arial, sans-serif
}

.font-peignot {
    font-family: Peignot Light, Helvetica, Arial, sans-serif!important;
    font-size: 1.1em;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: initial;
    -webkit-transform: scaleY(.9);
    transform: scaleY(.9)
}

.font-futuraPT {
    font-family: Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif!important
}

.font-segoeUIBlack {
    font-family: Segoe UI Black, Helvetica, Arial, sans-serif!important
}

.font-helveticaNeue {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif!important
}

.font-vk {
    font-family: Tahoma, Arial, Helvetica, sans-serif!important
}

.module--map {
    overflow: hidden;
    border: 10px solid transparent
}

@media screen and (max-width:1023px) {
    .module--map {
        border-left: none;
        border-right: none
    }
}

.module--map__wrapper {
    height: 700px;
    border: 1px solid #e6e6e6
}

@media screen and (max-width:1280px) {
    .module--map__wrapper {
        height: 600px
    }
}

@media screen and (max-width:1023px) {
    .module--map__wrapper {
        height: 500px
    }
}

@media screen and (max-width:767px) {
    .module--map__wrapper {
        height: 480px
    }
}

@media screen and (max-width:480px) {
    .module--map__wrapper {
        height: 300px
    }
}

@-webkit-keyframes show {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes show {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.module--map__map {
    height: 100%
}

.module--map__map canvas {
    opacity: 0;
    -webkit-animation-name: show;
    animation-name: show;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.module--article {
    border: 10px solid transparent;
    overflow: hidden
}

.module--article__wrapper {
    padding: 40px;
    background: #fff;
    font: 14px/24px Lato, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #515151
}

@media screen and (max-width:1023px) {
    .module--article__wrapper {
        font-size: 1.1rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width:767px) {
    .module--article__wrapper {
        font-size: 1rem;
        text-align: justify
    }
}

@media screen and (max-width:480px) {
    .module--article__wrapper {
        font-size: .9rem;
        line-height: 1.5rem;
        padding: 15px 20px
    }
}

.module--article__wrapper h1 {
    margin: 0;
    font: 31px/50px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #c5b38d
}

@media screen and (max-width:1023px) {
    .module--article__wrapper h1 {
        font-size: 1.5rem;
        line-height: 1.5em
    }
}

@media screen and (max-width:767px) {
    .module--article__wrapper h1 {
        font-size: 1.3rem;
        line-height: 1.3em;
        text-align: center
    }
}

@media screen and (max-width:480px) {
    .module--article__wrapper h1 {
        margin-bottom: 10px;
        font-size: 1.2rem;
        line-height: 1.2em;
        text-align: center
    }
}

.module--article__wrapper h2 {
    margin: 0;
    font: 18px/1.4em Segoe UI Black, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #333;
    margin: 30px 0
}

@media screen and (max-width:480px) {
    .module--article__wrapper h2 {
        margin: 10px 0;
        font-size: 1.5rem;
        line-height: 2rem
    }
}

.module--article__wrapper h3,
.module--article__wrapper h4,
.module--article__wrapper h5 {
    margin: 0;
    font: 18px/1.4em Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #333;
    margin: 30px 0
}

.module--article__wrapper hr {
    border-top: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    border-bottom: none
}

.module--article__wrapper p {
    font: 14px/24px Lato, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #515151;
    margin: 10px 0
}

@media screen and (max-width:1023px) {
    .module--article__wrapper p {
        font-size: 1.1rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width:767px) {
    .module--article__wrapper p {
        font-size: 1rem;
        text-align: justify
    }
}

@media screen and (max-width:480px) {
    .module--article__wrapper p {
        font-size: .9rem;
        line-height: 1.5rem
    }
}

.module--article__wrapper a {
    font: 14px/24px Lato, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #515151;
    display: inline-block;
    color: #1e1e1e;
    text-decoration: underline;
    -webkit-transition: -webkit-transform .1s linear;
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear
}

@media screen and (max-width:1023px) {
    .module--article__wrapper a {
        font-size: 1.1rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width:767px) {
    .module--article__wrapper a {
        font-size: 1rem;
        text-align: justify
    }
}

@media screen and (max-width:480px) {
    .module--article__wrapper a {
        font-size: .9rem;
        line-height: 1.5rem
    }
}

.module--article__wrapper a:focus,
.module--article__wrapper a:hover {
    outline: none
}

.module--article__wrapper a:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px)
}

.module--article__wrapper ul {
    margin: 0 0 10px 10px
}

.module--article__wrapper ul:after {
    content: "";
    display: block;
    clear: both
}

.module--article__wrapper ul li {
    float: left
}

.module--article__wrapper ol {
    margin: 20px 0;
    padding: 0
}

.module--article__wrapper ol li {
    margin-left: 20px;
    line-height: 24px;
    list-style-type: disc
}

@media mobile {
    .module--article__wrapper ol li {
        margin-left: 20px
    }
}

.module--article__wrapper img {
    width: 100%
}

.module--article__title {
    margin: 0;
    font: 31px/50px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #c5b38d
}

@media screen and (max-width:1023px) {
    .module--article__title {
        font-size: 1.5rem;
        line-height: 1.5em
    }
}

@media screen and (max-width:767px) {
    .module--article__title {
        font-size: 1.3rem;
        line-height: 1.3em;
        text-align: center
    }
}

@media screen and (max-width:480px) {
    .module--article__title {
        margin-bottom: 10px;
        font-size: 1.2rem;
        line-height: 1.2em;
        text-align: center
    }
}

.module--article__headline {
    margin: 0;
    font: 18px/1.4em Segoe UI Black, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #333;
    margin: 30px 0
}

@media screen and (max-width:480px) {
    .module--article__headline {
        margin: 10px 0;
        font-size: 1.5rem;
        line-height: 2rem
    }
}

.module--article__subheadline {
    margin: 0;
    font: 18px/1.4em Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #333;
    margin: 30px 0
}

.module--article__line {
    border-top: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    border-bottom: none
}

.module--article__carousel {
    height: 600px;
    margin: 20px 0!important;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    background: #f2f2f2
}

.module--article__carousel:focus {
    outline: none
}

@media screen and (max-width:1023px) {
    .module--article__carousel {
        height: 400px
    }
}

@media screen and (max-width:767px) {
    .module--article__carousel {
        height: 300px
    }
}

.module--article__carousel li {
    height: 600px;
    float: left;
    list-style: none;
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

@media screen and (max-width:1023px) {
    .module--article__carousel li {
        height: 400px
    }
}

@media screen and (max-width:767px) {
    .module--article__carousel li {
        height: 300px
    }
}

.module--article__carousel li img {
    display: inline-block;
    height: 100%;
    width: auto
}

.module--article__grid {
    margin: 20px 0!important;
    font-size: 0;
    letter-spacing: 0
}

.module--article__grid li {
    width: 20%;
    list-style: none
}

@media screen and (max-width:1024px) {
    .module--article__grid li {
        width: 25%
    }
}

@media screen and (max-width:1023px) {
    .module--article__grid li {
        width: 33.33333333%
    }
}

@media screen and (max-width:480px) {
    .module--article__grid li {
        width: 50%
    }
}

.module--article__grid img {
    vertical-align: middle;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.module--article__grid img:hover {
    z-index: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

.module--collection-description {
    border: 10px solid transparent;
    overflow: hidden
}

.module--collection-description__wrapper {
    padding: 40px;
    background: #fff
}

.module--collection-description__wrapper img {
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0
}

@media screen and (max-width:1024px) {
    .module--collection-description__wrapper img {
        margin: 10px 0
    }
}

.module--collection-description__wrapper h1 {
    margin: 0;
    font: 31px/50px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #c5b38d
}

@media screen and (max-width:1023px) {
    .module--collection-description__wrapper h1 {
        font-size: 1.5rem;
        line-height: 1.5em
    }
}

@media screen and (max-width:767px) {
    .module--collection-description__wrapper h1 {
        font-size: 1.3rem;
        line-height: 1.3em;
        text-align: center
    }
}

@media screen and (max-width:480px) {
    .module--collection-description__wrapper h1 {
        margin-bottom: 10px;
        font-size: 1.2rem;
        line-height: 1.2em;
        text-align: center
    }
}

.module--collection-description__wrapper h2 {
    margin: 0;
    font: 18px/1.4em Segoe UI Black, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #333
}

@media screen and (max-width:480px) {
    .module--collection-description__wrapper h2 {
        margin: 10px 0;
        font-size: 1.5rem;
        line-height: 2rem
    }
}

.module--collection-description__wrapper h3,
.module--collection-description__wrapper h4,
.module--collection-description__wrapper h5 {
    margin: 0;
    font: 18px/1.4em Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #333
}

.module--collection-description__wrapper hr {
    border-top: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    border-bottom: none
}

.module--collection-description__wrapper p {
    font: 14px/24px Lato, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #515151;
    margin: 10px 0
}

@media screen and (max-width:1023px) {
    .module--collection-description__wrapper p {
        font-size: 1.1rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width:767px) {
    .module--collection-description__wrapper p {
        font-size: 1rem;
        text-align: justify
    }
}

@media screen and (max-width:480px) {
    .module--collection-description__wrapper p {
        font-size: .9rem;
        line-height: 1.5rem
    }
}

.module--collection-description__wrapper ul {
    font: 14px/24px Lato, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #515151;
    margin: 10px
}

@media screen and (max-width:1023px) {
    .module--collection-description__wrapper ul {
        font-size: 1.1rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width:767px) {
    .module--collection-description__wrapper ul {
        font-size: 1rem;
        text-align: justify
    }
}

@media screen and (max-width:480px) {
    .module--collection-description__wrapper ul {
        font-size: .9rem;
        line-height: 1.5rem
    }
}

.module--collection-description__wrapper li {
    font: 14px/24px Lato, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #515151;
    margin-left: 10px
}

@media screen and (max-width:1023px) {
    .module--collection-description__wrapper li {
        font-size: 1.1rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width:767px) {
    .module--collection-description__wrapper li {
        font-size: 1rem;
        text-align: justify
    }
}

@media screen and (max-width:480px) {
    .module--collection-description__wrapper li {
        font-size: .9rem;
        line-height: 1.5rem
    }
}

.module--collection-description__wrapper a {
    font: 14px/24px Lato, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #515151;
    display: inline-block;
    color: #1e1e1e;
    text-decoration: underline;
    -webkit-transition: -webkit-transform .1s linear;
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear
}

@media screen and (max-width:1023px) {
    .module--collection-description__wrapper a {
        font-size: 1.1rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width:767px) {
    .module--collection-description__wrapper a {
        font-size: 1rem;
        text-align: justify
    }
}

@media screen and (max-width:480px) {
    .module--collection-description__wrapper a {
        font-size: .9rem;
        line-height: 1.5rem
    }
}

.module--collection-description__wrapper a:focus,
.module--collection-description__wrapper a:hover {
    outline: none
}

.module--collection-description__wrapper a:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px)
}

.module--dress-description {
    border: 10px solid transparent;
    box-sizing: border-box
}

.module--dress-description__wrapper {
    padding: 40px;
    background: #fff
}

@media screen and (max-width:1023px) {
    .module--dress-description__wrapper {
        padding: 30px
    }
}

@media screen and (max-width:767px) {
    .module--dress-description__wrapper {
        padding: 25px
    }
}

@media screen and (max-width:480px) {
    .module--dress-description__wrapper {
        padding: 20px
    }
}

.module--dress-description__wrapper>:last-child {
    margin-bottom: 0
}

.module--dress-description__videos-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0
}

@media screen and (max-width:1023px) {
    .module--dress-description__videos-wrapper {
        display: block
    }
}

.module--dress-description__images-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0
}

@media screen and (max-width:1023px) {
    .module--dress-description__images-wrapper {
        display: block
    }
}

.module--dress-description__social {
    text-align: center
}

.module--dress-description__collection-buttons {
    margin: 25px 0;
    font-size: 0;
    letter-spacing: 0;
    text-align: center
}

.module--dress-description__content p {
    margin: 10px 0;
    font: 14px/24px Lato, Helvetica, Arial, sans-serif;
    text-transform: none;
    color: #515151
}

@media screen and (max-width:1023px) {
    .module--dress-description__content p {
        font-size: 1.1rem;
        line-height: 1.5rem
    }
}

@media screen and (max-width:767px) {
    .module--dress-description__content p {
        font-size: 1rem;
        text-align: justify
    }
}

@media screen and (max-width:480px) {
    .module--dress-description__content p {
        font-size: .9rem;
        line-height: 1.5rem
    }
}

.module--dress-description__content ul {
    margin-right: 20px 0
}

.module--dress-description__content li {
    margin-left: 10px
}

.dress-listing,
.feedback-listing {
    margin: 10px
}

@media screen and (max-width:1023px) {
    .dress-listing,
    .feedback-listing {
        margin: 0
    }
}

.dress-listing:after,
.feedback-listing:after {
    content: "";
    display: block;
    clear: both
}

.dress-listing .isotope-grid__sizer,
.feedback-listing .isotope-grid__sizer {
    width: 16.66666667%
}

@media screen and (max-width:1650px) {
    .dress-listing .isotope-grid__sizer,
    .feedback-listing .isotope-grid__sizer {
        width: 20%
    }
}

@media screen and (max-width:1500px) {
    .dress-listing .isotope-grid__sizer,
    .feedback-listing .isotope-grid__sizer {
        width: 25%
    }
}

@media screen and (max-width:1280px) {
    .dress-listing .isotope-grid__sizer,
    .feedback-listing .isotope-grid__sizer {
        width: 25%
    }
}

@media screen and (max-width:1024px) {
    .dress-listing .isotope-grid__sizer,
    .feedback-listing .isotope-grid__sizer {
        width: 33.33333333%
    }
}

@media screen and (max-width:1023px) {
    .dress-listing .isotope-grid__sizer,
    .feedback-listing .isotope-grid__sizer {
        width: 33.33333333%
    }
}

@media screen and (max-width:767px) {
    .dress-listing .isotope-grid__sizer,
    .feedback-listing .isotope-grid__sizer {
        width: 50%
    }
}

@media screen and (max-width:480px) {
    .dress-listing .isotope-grid__sizer,
    .feedback-listing .isotope-grid__sizer {
        width: 100%
    }
}

.dress-listing .promo,
.feedback-listing .promo {
    float: left
}

.dress-listing .promo.promo--width-2,
.feedback-listing .promo.promo--width-2 {
    width: 16.66666667%
}

@media screen and (max-width:1650px) {
    .dress-listing .promo.promo--width-2,
    .feedback-listing .promo.promo--width-2 {
        width: 20%
    }
}

@media screen and (max-width:1500px) {
    .dress-listing .promo.promo--width-2,
    .feedback-listing .promo.promo--width-2 {
        width: 25%
    }
}

@media screen and (max-width:1280px) {
    .dress-listing .promo.promo--width-2,
    .feedback-listing .promo.promo--width-2 {
        width: 25%
    }
}

@media screen and (max-width:1024px) {
    .dress-listing .promo.promo--width-2,
    .feedback-listing .promo.promo--width-2 {
        width: 33.33333333%
    }
}

@media screen and (max-width:1023px) {
    .dress-listing .promo.promo--width-2,
    .feedback-listing .promo.promo--width-2 {
        width: 33.33333333%
    }
}

@media screen and (max-width:767px) {
    .dress-listing .promo.promo--width-2,
    .feedback-listing .promo.promo--width-2 {
        width: 50%
    }
}

@media screen and (max-width:480px) {
    .dress-listing .promo.promo--width-2,
    .feedback-listing .promo.promo--width-2 {
        width: 100%
    }
}

.module--social-sidebar {
    width: auto;
    float: right;
    border: 10px solid transparent
}

.module--social-sidebar .social-vk:first-child {
    border-bottom: 10px solid transparent
}

@media screen and (max-width:1023px) {
    .module--social-sidebar {
        display: none
    }
}

.module--contact-sidebar {
    width: 360px;
    float: right;
    border: 10px solid transparent
}

@media screen and (max-width:1023px) {
    .module--contact-sidebar {
        width: 100%;
        float: none;
        text-align: center
    }
}

.module--contact-sidebar__wrapper {
    padding: 40px;
    background: #fff
}

@media screen and (max-width:1023px) {
    .module--contact-sidebar__wrapper {
        padding: 20px
    }
}

.module--contact-sidebar__title {
    font-size: 27px;
    text-align: center
}

.module--contact-sidebar__title .font-peignot {
    display: block;
    font-size: 1.5em
}

.module--contact-sidebar__social {
    margin-top: 20px
}

.module--contact-sidebar__headline {
    margin: 15px 0 5px;
    font: 17px/1.5em Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    color: #000
}

.module--contact-sidebar__line {
    margin: 25px 0;
    border: none;
    border-top: 1px solid #e6e6e6;
    background: none
}

.module--contact-sidebar__footnote {
    font: 13px/1.5em Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    font-style: italic;
    text-align: center;
    color: #777
}

.module--dress-photos__wrapper:after {
    content: "";
    display: block;
    clear: both
}

.module--dress-photos__image-wrapper {
    width: 33.33333333%;
    margin: 10px 0;
    float: left;
    overflow: hidden;
    box-sizing: border-box
}

.module--dress-photos__image-wrapper:first-child {
    padding-right: 20px;
    width: 66.66666667%
}

@media screen and (max-width:480px) {
    .module--dress-photos__image-wrapper {
        border: 10px solid transparent;
        width: 100%;
        float: none
    }
    .module--dress-photos__image-wrapper:first-child {
        padding: 0;
        width: 100%
    }
}

.module--related-posts {
    margin: 10px 0 0;
    width: 100%;
    overflow: hidden;
    outline: none;
    border-bottom: none;
    font-size: 0;
    letter-spacing: 0
}

.module--related-posts .promo {
    display: inline-block;
    border-bottom: none;
    border-top: none
}



.module--parallax-testmonial {
    position: relative;
    overflow: hidden
}

.module--parallax-testmonial__image {
    position: absolute;
    z-index: 0;
    width: 100%
}

@media screen and (max-width:1280px) {
    .module--parallax-testmonial__image {
        width: auto;
        height: 100%
    }
}

.module--parallax-testmonial__wrapper {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media screen and (max-width:1024px) {
    .module--parallax-testmonial__wrapper {
        display: block;
        text-align: center
    }
}

.module--parallax-testmonial__wrapper .promo {
    width: 60%;
    margin: 60px 30px
}

@media screen and (max-width:1500px) {
    .module--parallax-testmonial__wrapper .promo {
        margin: 50px 30px
    }
}

@media screen and (max-width:1280px) {
    .module--parallax-testmonial__wrapper .promo {
        margin: 40px 30px
    }
}

@media screen and (max-width:1024px) {
    .module--parallax-testmonial__wrapper .promo {
        display: block;
        margin: 20px auto;
        width: 70%
    }
}

@media screen and (max-width:767px) {
    .module--parallax-testmonial__wrapper .promo {
        width: 90%
    }
}

.module--parallax-testmonial__wrapper .promo:nth-child(odd) {
    -ms-flex-item-align: end;
    align-self: flex-end
}

.module--parallax-testmonial__wrapper .promo:nth-child(2n) {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.module--flickity-carousel {
    position: relative;
    outline: none;
    font-size: 0;
    letter-spacing: 0
}

.module--flickity-carousel .promo {
    display: inline-block;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right-width: 20px;
    vertical-align: top
}

.module--flickity-carousel .flickity-viewport {
    overflow: hidden;
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.module--flickity-carousel--show-buttons {
    padding: 0 60px
}

.module--flickity-carousel--show-buttons .module__wrapper {
    position: relative;
    left: -50px
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    opacity: .8;
    background: hsla(0, 0%, 100%, .8);
    border: 1px solid #e6e6e6;
    -webkit-transition: -webkit-transform .1s linear;
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear;
    font-size: 18px;
    line-height: 18px;
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button:focus {
    outline: none
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button:active {
    -webkit-transform: translateY(3px);
    transform: translateY(3px)
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button:hover {
    opacity: 1;
    background: #fff
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button:disabled {
    opacity: .2
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button.next {
    right: 10px
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button.next:before {
    content: "\E90C"
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button.previous {
    left: 10px
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button.previous:before {
    content: "\E90D"
}

.module--flickity-carousel--show-buttons .flickity-prev-next-button svg {
    display: none
}

.module--flickity-carousel--show-dots .flickity-page-dots {
    margin: 10px 0 0;
    background: #fff;
    text-align: center
}

.module--flickity-carousel--show-dots .dot {
    display: inline-block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .1s linear;
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear, -webkit-transform .1s linear
}

.module--flickity-carousel--show-dots .dot:active {
    -webkit-transform: translateY(3px);
    transform: translateY(3px)
}

.module--flickity-carousel--show-dots .dot:after {
    content: "";
    position: relative;
    display: inline-block;
    top: 15px;
    height: 10px;
    width: 10px;
    background: #f2f2f2;
    border-radius: 10px;
    -webkit-transition: background .1s linear;
    transition: background .1s linear
}

.module--flickity-carousel--show-dots .dot:hover:after {
    background: #a2a2a2
}

.module--flickity-carousel--show-dots .dot.is-selected:after,
.module--flickity-carousel--show-dots .dot.is-selected:hover:after {
    background: #515151
}

.module--flickity-carousel__wrapper {
    text-align: center
}

.form__text-button,
.form__text-label {
    font: 14px/20px Lato, Helvetica, Arial, sans-serif;
    font-weight: 700
}

.form__text-button {
    color: #333;
    text-shadow: 0 1px 1px #fff
}

.form__text-button:hover {
    color: #fff;
    text-shadow: none
}

.form__text-input {
    font-size: 12px;
    line-height: 16px
}

.promo__text-headline {
    margin: 0;
    font: 18px/24px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #515151;
    -webkit-transition: color .1s linear;
    transition: color .1s linear
}

@media screen and (max-width:767px) {
    .promo__text-headline {
        font-size: 14px;
        line-height: 16px
    }
}

.promo__text-headline--normal-case {
    text-transform: none
}

.promo__text-subheadline {
    margin: 0;
    font: 15px/20px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #515151;
    -webkit-transition: color .1s linear;
    transition: color .1s linear
}

.promo__text-title {
    font: 35px/39px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b19b65
}

.promo__text-title:hover {
    text-decoration: none
}

@media screen and (max-width:1023px) {
    .promo__text-title {
        font-size: 2rem;
        line-height: 1.8em;
        text-align: center
    }
}

@media screen and (max-width:767px) {
    .promo__text-title {
        font-size: 1.6rem
    }
}

@media screen and (max-width:480px) {
    .promo__text-title {
        font-size: 1.5rem;
        line-height: 1.5em
    }
}





figure.image--effect {
    position: relative;
    overflow: hidden;
    background: #fff;
    text-align: center
}

figure.image--effect h1,
figure.image--effect h2,
figure.image--effect h3,
figure.image--effect h4,
figure.image--effect h5 {
    margin: 0;
    word-spacing: -.15em;
    font-weight: 300;
    font-size: 2em
}

figure.image--effect h1 span,
figure.image--effect h2 span,
figure.image--effect h3 span,
figure.image--effect h4 span,
figure.image--effect h5 span {
    font-weight: 800
}

@media screen and (max-width:1023px) {
    figure.image--effect h1,
    figure.image--effect h2,
    figure.image--effect h3,
    figure.image--effect h4,
    figure.image--effect h5 {
        font-size: 1.5em
    }
}

@media screen and (max-width:767px) {
    figure.image--effect h1,
    figure.image--effect h2,
    figure.image--effect h3,
    figure.image--effect h4,
    figure.image--effect h5 {
        font-size: 1.2em
    }
}

figure.image--effect p {
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif!important
}

@media screen and (max-width:1023px) {
    figure.image--effect p {
        font-size: 1.2em
    }
}

@media screen and (max-width:767px) {
    figure.image--effect p {
        font-size: 1em
    }
}

figure.image--effect img {
    display: block;
    min-height: 100%
}

figure.image--effect figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box
}

figure.image--effect figcaption:after,
figure.image--effect figcaption:before {
    pointer-events: none
}

figure.image--effect figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0
}

figure.image--effect figcaption,
figure.image--effect figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@-webkit-keyframes image--effect-fadein {
    0% {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes image--effect-fadein {
    0% {
        -webkit-transform: translateY(-3rem);
        transform: translateY(-3rem);
        opacity: 0
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@-webkit-keyframes image--effect-fadein-fallback {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes image--effect-fadein-fallback {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

figure.image--effect-fadein:not(.image--effect-layla,
) img {
    -webkit-animation: image--effect-fadein .3s normal;
    animation: image--effect-fadein .3s normal
}

figure.image--effect-fadein img {
    -webkit-animation: image--effect-fadein-fallback .3s normal;
    animation: image--effect-fadein-fallback .3s normal
}

figure.image--effect-marley figcaption {
    text-align: right
}

figure.image--effect-marley h1,
figure.image--effect-marley h2,
figure.image--effect-marley h3,
figure.image--effect-marley h4,
figure.image--effect-marley h5,
figure.image--effect-marley p {
    position: absolute;
    right: 30px;
    left: 30px;
    padding: 10px 0
}

figure.image--effect-marley p {
    bottom: 30px;
    line-height: 1.5;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}

figure.image--effect-marley h1,
figure.image--effect-marley h2,
figure.image--effect-marley h3,
figure.image--effect-marley h4,
figure.image--effect-marley h5 {
    top: 30px;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0)
}

figure.image--effect-marley:hover h1,
figure.image--effect-marley:hover h2,
figure.image--effect-marley:hover h3,
figure.image--effect-marley:hover h4,
figure.image--effect-marley:hover h5 {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-marley h1:after,
figure.image--effect-marley h2:after,
figure.image--effect-marley h3:after,
figure.image--effect-marley h4:after,
figure.image--effect-marley h5:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    content: "";
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0)
}

figure.image--effect-marley h1:after,
figure.image--effect-marley h2:after,
figure.image--effect-marley h3:after,
figure.image--effect-marley h4:after,
figure.image--effect-marley h5:after,
figure.image--effect-marley p {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s
}

figure.image--effect-marley:hover h1:after,
figure.image--effect-marley:hover h2:after,
figure.image--effect-marley:hover h3:after,
figure.image--effect-marley:hover h4:after,
figure.image--effect-marley:hover h5:after,
figure.image--effect-marley:hover p {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-oscar {
    background: -webkit-linear-gradient(45deg, #22682a, #9b4a1b 40%, #3a342a);
    background: linear-gradient(45deg, #22682a, #9b4a1b 40%, #3a342a)
}

figure.image--effect-oscar img {
    opacity: .9;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

figure.image--effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58, 52, 42, .7);
    -webkit-transition: background-color .35s;
    transition: background-color .35s
}

figure.image--effect-oscar figcaption:before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: ""
}

figure.image--effect-oscar h1,
figure.image--effect-oscar h2,
figure.image--effect-oscar h3,
figure.image--effect-oscar h4,
figure.image--effect-oscar h5 {
    margin: 20% 0 10px;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}

figure.image--effect-oscar figcaption:before,
figure.image--effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: scale(0);
    transform: scale(0)
}

figure.image--effect-oscar:hover h1,
figure.image--effect-oscar:hover h2,
figure.image--effect-oscar:hover h3,
figure.image--effect-oscar:hover h4,
figure.image--effect-oscar:hover h5 {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-oscar:hover figcaption:before,
figure.image--effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

figure.image--effect-oscar:hover figcaption {
    background-color: rgba(58, 52, 42, 0)
}

figure.image--effect-oscar:hover img {
    opacity: .4
}

figure.image--effect-sadie figcaption:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0), rgba(72, 76, 97, .8) 75%);
    background: linear-gradient(180deg, rgba(72, 76, 97, 0) 0, rgba(72, 76, 97, .8) 75%);
    content: "";
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0)
}

figure.image--effect-sadie h1,
figure.image--effect-sadie h2,
figure.image--effect-sadie h3,
figure.image--effect-sadie h4,
figure.image--effect-sadie h5 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform .35s, color .35s;
    -webkit-transition: color .35s, -webkit-transform .35s;
    transition: color .35s, -webkit-transform .35s;
    transition: transform .35s, color .35s;
    transition: transform .35s, color .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

figure.image--effect-sadie figcaption:before,
figure.image--effect-sadie p {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s
}

figure.image--effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
}

figure.image--effect-sadie:hover h1,
figure.image--effect-sadie:hover h2,
figure.image--effect-sadie:hover h3,
figure.image--effect-sadie:hover h4,
figure.image--effect-sadie:hover h5 {
    color: #fff;
    -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
    transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0)
}

figure.image--effect-sadie:hover figcaption:before,
figure.image--effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-layla figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 3em
}

figure.image--effect-layla img.image-deferred__image {
    width: 110%;
    margin-left: -5%
}

figure.image--effect-layla figcaption:after,
figure.image--effect-layla figcaption:before {
    position: absolute;
    content: "";
    opacity: 0
}

figure.image--effect-layla figcaption:before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

figure.image--effect-layla figcaption:after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

figure.image--effect-layla h1,
figure.image--effect-layla h2,
figure.image--effect-layla h3,
figure.image--effect-layla h4,
figure.image--effect-layla h5 {
    padding-top: 26%;
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s
}

figure.image--effect-layla p {
    padding: .5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0)
}

figure.image--effect-layla h1,
figure.image--effect-layla h2,
figure.image--effect-layla h3,
figure.image--effect-layla h4,
figure.image--effect-layla h5,
figure.image--effect-layla img {
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0)
}

figure.image--effect-layla figcaption:after,
figure.image--effect-layla figcaption:before,
figure.image--effect-layla img,
figure.image--effect-layla p {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s
}

figure.image--effect-layla:hover img {
    opacity: .7;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-layla:hover figcaption:after,
figure.image--effect-layla:hover figcaption:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

figure.image--effect-layla:hover h1,
figure.image--effect-layla:hover h2,
figure.image--effect-layla:hover h3,
figure.image--effect-layla:hover h4,
figure.image--effect-layla:hover h5,
figure.image--effect-layla:hover p {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-layla:hover figcaption:after,
figure.image--effect-layla:hover h1,
figure.image--effect-layla:hover h2,
figure.image--effect-layla:hover h3,
figure.image--effect-layla:hover h4,
figure.image--effect-layla:hover h5,
figure.image--effect-layla:hover img,
figure.image--effect-layla:hover p {
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}

figure.image--effect-lily img {
    max-width: none;
    width: 150%;
    opacity: .7;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0)
}

figure.image--effect-lily figcaption {
    text-align: left
}

figure.image--effect-lily figcaption>div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    height: 50%
}

figure.image--effect-lily h1,
figure.image--effect-lily h2,
figure.image--effect-lily h3,
figure.image--effect-lily h4,
figure.image--effect-lily h5,
figure.image--effect-lily p {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0)
}

figure.image--effect-lily h1,
figure.image--effect-lily h2,
figure.image--effect-lily h3,
figure.image--effect-lily h4,
figure.image--effect-lily h5 {
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s
}

figure.image--effect-lily p {
    color: hsla(0, 0%, 100%, .8);
    opacity: 0;
    -webkit-transition: opacity .2s, -webkit-transform .35s;
    transition: opacity .2s, -webkit-transform .35s;
    transition: opacity .2s, transform .35s;
    transition: opacity .2s, transform .35s, -webkit-transform .35s
}

figure.image--effect-lily:hover img,
figure.image--effect-lily:hover p {
    opacity: 1
}

figure.image--effect-lily:hover h1,
figure.image--effect-lily:hover h2,
figure.image--effect-lily:hover h3,
figure.image--effect-lily:hover h4,
figure.image--effect-lily:hover h5,
figure.image--effect-lily:hover img,
figure.image--effect-lily:hover p {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-lily:hover p {
    -webkit-transition-delay: .05s;
    transition-delay: .05s;
    -webkit-transition-duration: .35s;
    transition-duration: .35s
}

figure.image--effect-ruby {
    background-color: #17819c
}

figure.image--effect-ruby img {
    opacity: .7;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
}

figure.image--effect-ruby:hover img {
    opacity: .5;
    -webkit-transform: scale(1);
    transform: scale(1)
}

figure.image--effect-ruby h1,
figure.image--effect-ruby h2,
figure.image--effect-ruby h3,
figure.image--effect-ruby h4,
figure.image--effect-ruby h5 {
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0)
}

figure.image--effect-ruby p {
    margin: 1em 0 0;
    padding: 3em;
    border: 1px solid #fff;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(0, 20px, 0) scale(1.1);
    transform: translate3d(0, 20px, 0) scale(1.1)
}

figure.image--effect-ruby:hover h1,
figure.image--effect-ruby:hover h2,
figure.image--effect-ruby:hover h3,
figure.image--effect-ruby:hover h4,
figure.image--effect-ruby:hover h5 {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-ruby:hover p {
    opacity: 1;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1)
}

figure.image--effect-roxy {
    background: -webkit-linear-gradient(45deg, #ff89e9, #05abe0);
    background: linear-gradient(45deg, #ff89e9, #05abe0)
}

figure.image--effect-roxy img {
    max-width: none;
    width: calc(100% + 60px);
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0)
}

figure.image--effect-roxy figcaption:before,
figure.image--effect-roxy img {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s
}

figure.image--effect-roxy figcaption:before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: "";
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0)
}

figure.image--effect-roxy figcaption {
    padding: 3em;
    text-align: left
}

figure.image--effect-roxy h2 {
    padding: 30% 0 10px
}

figure.image--effect-roxy p {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
}

figure.image--effect-roxy:hover img {
    opacity: .7;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-roxy:hover figcaption:before,
figure.image--effect-roxy:hover p {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-milo {
    background: #616161
}

figure.image--effect-milo img {
    max-width: none;
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
    transform: translate3d(-30px, 0, 0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

figure.image--effect-milo:hover img {
    opacity: .5;
    -webkit-transform: translateZ(0) scale(1);
    transform: translateZ(0) scale(1)
}

figure.image--effect-milo h1,
figure.image--effect-milo h2,
figure.image--effect-milo h3,
figure.image--effect-milo h4,
figure.image--effect-milo h5 {
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
    color: #515151;
    -webkit-transition: color .35s;
    transition: color .35s
}

figure.image--effect-milo p {
    padding: 0 10px 0 0;
    color: #fff;
    width: 50%;
    border-right: 1px solid #fff;
    text-transform: uppercase;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    transition: opacity .35s, transform .35s, -webkit-transform .35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0)
}

figure.image--effect-milo:hover p {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-milo:hover h1,
figure.image--effect-milo:hover h2,
figure.image--effect-milo:hover h3,
figure.image--effect-milo:hover h4,
figure.image--effect-milo:hover h5 {
    color: #fff
}

figure.image--effect-zoom {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

figure.image--effect-zoom img {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

figure.image--effect-zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .7
}

body {
    position: relative;
    width: 100%;
    -webkit-transition: left .5s cubic-bezier(.175, .885, .32, 1.275);
    transition: left .5s cubic-bezier(.175, .885, .32, 1.275)
}

body.body--swipe-opened {
    position: fixed;
    left: 80%
}

@media screen and (max-width:1280px) {
    body.body--swipe-opened {
        left: 25%
    }
}

@media screen and (max-width:1024px) {
    body.body--swipe-opened {
        left: 30%
    }
}

@media screen and (max-width:1023px) {
    body.body--swipe-opened {
        left: 50%
    }
}

@media screen and (max-width:767px) {
    body.body--swipe-opened {
        left: 70%
    }
}

body.body--swipe-closed {
    position: relative;
    left: 0
}

html:not(head) body:not(head) div.fr-window:not(head) div.fr-box:not(head)>:not(.fr-pages):not(.fr-side):not(.fr-close),
html>body>.fr-window div.fr-box canvas {
    display: none!important
}
