







@font-face {
    font-family: Helvetica Neue;
    src: url("/public/fonts/Helvetica_Neue/Helvetica_Neue.eot");
    src: local("\263A"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.woff2") format("woff2"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.woff") format("woff"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.ttf") format("truetype"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.svg#helveticaneuecyrlight") format("svg");
    font-weight: 400;
    font-style: normal
}


@font-face {
    font-family: Lato Web;
    src: url("/public/fonts/Lato_Latin/Lato-Regular.eot");
    src: url("/public/fonts/Lato_Latin/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Lato_Latin/Lato-Regular.woff2") format("woff2"), url("/public/fonts/Lato_Latin/Lato-Regular.woff") format("woff"), url("/public/fonts/Lato_Latin/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato Web;
    src: url("/public/fonts/Lato_Latin/Lato-Light.eot");
    src: url("/public/fonts/Lato_Latin/Lato-Light.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Lato_Latin/Lato-Light.woff2") format("woff2"), url("/public/fonts/Lato_Latin/Lato-Light.woff") format("woff"), url("/public/fonts/Lato_Latin/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato Web;
    src: url("/public/fonts/Lato_Latin/Lato-Regular.eot");
    src: url("/public/fonts/Lato_Latin/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Lato_Latin/Lato-Regular.woff2") format("woff2"), url("/public/fonts/Lato_Latin/Lato-Regular.woff") format("woff"), url("/public/fonts/Lato_Latin/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"), local("Lato-Light"), url(http://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
    unicode-range: u+0100-024f, u+1e??, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"), local("Lato-Light"), url(http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
    unicode-range: u+0100-024f, u+1e??, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url(http://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
    unicode-range: u+0100-024f, u+1e??, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
}

.fonts_headline {
    font-family: Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif
}

.fonts_headline,
.fonts_subline {
    font-weight: 400;
    letter-spacing: normal
}

.fonts_subline {
    font-family: Lato Web, Helvetica, Arial, sans-serif
}

.fonts_content {
    font-family: Helvetica, Arial, sans-serif
}

.fonts_content,
.fonts_numbers {
    font-weight: 400;
    letter-spacing: normal
}

.fonts_numbers {
    font-family: Lato Web, Helvetica, Arial, sans-serif
}





.font-lato {
    font-family: Lato, Helvetica, Arial, sans-serif
}


.font-futuraPT {
    font-family: Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif!important
}



.font-helveticaNeue {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif!important
}

.font-vk {
    font-family: Tahoma, Arial, Helvetica, sans-serif!important
}


.promo--label {
    width: 50%
}

@media screen and (max-width:1280px) {
    .promo--label {
        width: 50%
    }
}

@media screen and (max-width:1024px) {
    .promo--label {
        width: 50%
    }
}

@media screen and (max-width:767px) {
    .promo--label {
        width: 100%
    }
}

.promo--label__wrapper {
    height: 80px;
    text-align: center;
    font-size: 0;
    letter-spacing: 0
}

.promo--label__wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

@media screen and (max-width:767px) {
    .promo--label__wrapper {
        height: 70px
    }
}

@media screen and (max-width:480px) {
    .promo--label__wrapper {
        height: 60px
    }
}

.promo--label__content-wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.promo--label__copy,
.promo--label__headline {
    margin: 0 20px
}

.promo-cta {
    min-height: 400px
}

.promo.promo--effect-fadein .promo__wrapper {
    opacity: .1;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem)
}

.promo--effect-click .promo__wrapper {
    -webkit-transition: all .1s linear;
    transition: all .1s linear
}

.promo--effect-click .promo__wrapper:active {
    opacity: .6;
    -webkit-transform: translateY(2px);
    transform: translateY(2px)
}

.promo {
    
    
    font-family: Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
}



.promo .image_wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 50px;
    background: #fff;
    text-align: center
}

.promo .promo_wrapper {
    background: #fff
}

.promo .content_wrapper {
    box-sizing: border-box
}

.promo .content_wrapper .headline {
    font: 18px/26px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

.promo .content_wrapper .subline {
    font: 14px/18px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif
}






