.flexbox .flexible_promo .promo_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0
}

.flexbox .flexible_promo .image_wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.flexbox .flexible_promo .image_wrapper img {
    position: absolute;
    width: 100%;
    height: auto
}

.object-fit .flexible_promo .image_wrapper img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.socials_wrapper {
    margin-top: 20px;
    text-align: center
}

.socials_wrapper .social-likes__widget_facebook,
.socials_wrapper .social-likes__widget_odnoklassniki,
.socials_wrapper .social-likes__widget_plusone,
.socials_wrapper .social-likes__widget_vkontakte {
    background: #4f5458;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.socials_wrapper .social-likes__widget_plusone:hover {
    background: #d23e30
}

.socials_wrapper .social-likes__widget_facebook:hover {
    background: #3d5b95
}

.socials_wrapper .social-likes__widget_vkontakte:hover {
    background: #587e9f
}

.socials_wrapper .social-likes__widget_odnoklassniki:hover {
    background: #f59310
}

.socials_wrapper .social-likes_vertical .social-likes__widget {
    min-width: 40px
}

@font-face {
    font-family: icomoon;
    src: url("/public/fonts/Icon_Font/icomoon.eot?duiu20");
    src: url("/public/fonts/Icon_Font/icomoon.eot?duiu20#iefix") format("embedded-opentype"), url("/public/fonts/Icon_Font/icomoon.ttf?duiu20") format("truetype"), url("/public/fonts/Icon_Font/icomoon.woff?duiu20") format("woff"), url("/public/fonts/Icon_Font/icomoon.svg?duiu20#icomoon") format("svg");
    font-weight: 400;
    font-style: normal
}

.icon,
.social-likes__widget:before,
[class*=" icon-"]:before,
[class^=icon-]:before {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-palette:before {
    content: "\E912"
}

.icon-high-quality:before {
    content: "\E913"
}

.icon-scissors:before {
    content: "\E914"
}

.icon-credit-card:before {
    content: "\E915"
}

.icon-camera:before {
    content: "\E916"
}

.icon-images:before {
    content: "\E917"
}

.icon-truck:before {
    content: "\E918"
}

.icon-odnoklassniki:before {
    content: "\E911"
}

.icon-angle-down:before {
    content: "\E90A"
}

.icon-angle-up:before {
    content: "\E90B"
}

.icon-angle-right:before {
    content: "\E90C"
}

.icon-angle-left:before {
    content: "\E90D"
}

.icon-angle-double-down:before {
    content: "\E90E"
}

.icon-angle-double-up:before {
    content: "\E90F"
}

.icon-angle-double-right:before {
    content: "\E910"
}

.icon-bars:before {
    content: "\E909"
}

.icon-viber:before {
    content: "\E919"
}

.icon-mts:before {
    content: "\E907";
    padding-right: 5px;
    font-size: .8em
}

.icon-velcom:before {
    content: "\E908";
    padding-right: 5px;
    font-size: .8em
}

.icon-map-marker:before {
    content: "\E900"
}

.icon-google-plus:before {
    content: "\E901"
}

.icon-envelope-o:before {
    content: "\E902"
}

.icon-vimeo:before {
    content: "\E903"
}

.icon-facebook:before {
    content: "\E904"
}

.icon-instagram:before {
    content: "\E905"
}

.icon-vk:before {
    content: "\E906"
}





@font-face {
    font-family: Segoe UI;
    font-weight: 200;
    src: local("Segoe UI Light")
}

@font-face {
    font-family: Segoe UI;
    font-weight: 300;
    src: local("Segoe UI Semilight")
}

@font-face {
    font-family: Segoe UI;
    font-weight: 400;
    src: local("Segoe UI")
}

@font-face {
    font-family: Segoe UI;
    font-weight: 600;
    src: local("Segoe UI Semibold")
}

@font-face {
    font-family: Segoe UI;
    font-weight: 700;
    src: local("Segoe UI Bold")
}

@font-face {
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 400;
    src: local("Segoe UI Italic")
}

@font-face {
    font-family: Segoe UI;
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic")
}

@font-face {
    font-family: Helvetica Neue;
    src: url("/public/fonts/Helvetica_Neue/Helvetica_Neue.eot");
    src: local("\263A"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.woff2") format("woff2"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.woff") format("woff"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.ttf") format("truetype"), url("/public/fonts/Helvetica_Neue/Helvetica_Neue.svg#helveticaneuecyrlight") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Segoe UI Black;
    src: url("/public/fonts/Segoe_UI/Segoe_UI_Black.eot");
    src: local("\263A"), local("Segoe UI Black"), url("/public/fonts/Segoe_UI/Segoe_UI_Black.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Segoe_UI/Segoe_UI_Black.woff2") format("woff2"), url("/public/fonts/Segoe_UI/Segoe_UI_Black.woff") format("woff"), url("/public/fonts/Segoe_UI/Segoe_UI_Black.ttf") format("truetype"), url("/public/fonts/Segoe_UI/Segoe_UI_Black.svg#helveticaneuecyrlight") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Lato Web;
    src: url("/public/fonts/Lato_Latin/Lato-Regular.eot");
    src: url("/public/fonts/Lato_Latin/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Lato_Latin/Lato-Regular.woff2") format("woff2"), url("/public/fonts/Lato_Latin/Lato-Regular.woff") format("woff"), url("/public/fonts/Lato_Latin/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato Web;
    src: url("/public/fonts/Lato_Latin/Lato-Light.eot");
    src: url("/public/fonts/Lato_Latin/Lato-Light.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Lato_Latin/Lato-Light.woff2") format("woff2"), url("/public/fonts/Lato_Latin/Lato-Light.woff") format("woff"), url("/public/fonts/Lato_Latin/Lato-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato Web;
    src: url("/public/fonts/Lato_Latin/Lato-Regular.eot");
    src: url("/public/fonts/Lato_Latin/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/public/fonts/Lato_Latin/Lato-Regular.woff2") format("woff2"), url("/public/fonts/Lato_Latin/Lato-Regular.woff") format("woff"), url("/public/fonts/Lato_Latin/Lato-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"), local("Lato-Light"), url(http://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
    unicode-range: u+0100-024f, u+1e??, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    src: local("Lato Light"), local("Lato-Light"), url(http://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format("woff2");
    unicode-range: u+0100-024f, u+1e??, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    src: local("Lato Regular"), local("Lato-Regular"), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url(http://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format("woff2");
    unicode-range: u+0100-024f, u+1e??, u+20a0-20ab, u+20ad-20cf, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    src: local("Lato Bold"), local("Lato-Bold"), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2212, u+2215, u+e0ff, u+effd, u+f000
}

#prom-dresses .fr-caption,
.fonts_brand {
    font-family: Peignot Light, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: uppercase
}

#wedding-collection-bliss .fr-caption,
#wedding-dresses-nicole .fr-caption,
.fonts_brand_italic {
    font-family: Lucida Handwriting, Peignot Light, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: uppercase
}

.fonts_headline {
    font-family: Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif
}

.fonts_headline,
.fonts_subline {
    font-weight: 400;
    letter-spacing: normal
}

.fonts_subline {
    font-family: Lato Web, Helvetica, Arial, sans-serif
}

.fonts_content {
    font-family: Helvetica, Arial, sans-serif
}

.fonts_content,
.fonts_numbers {
    font-weight: 400;
    letter-spacing: normal
}

.fonts_numbers {
    font-family: Lato Web, Helvetica, Arial, sans-serif
}

.fonts_accent {
    font-family: Segoe UI Black, Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: normal
}

.font-default {
    font-family: Segoe UI, system, Helvetica, Arial, sans-serif!important;
    font-weight: 100
}

.font-lato {
    font-family: Lato, Helvetica, Arial, sans-serif
}


.font-futuraPT {
    font-family: Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif!important
}

.font-segoeUIBlack {
    font-family: Segoe UI Black, Helvetica, Arial, sans-serif!important
}

.font-helveticaNeue {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif!important
}

.font-vk {
    font-family: Tahoma, Arial, Helvetica, sans-serif!important
}



@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -1920px 0
    }
    to {
        background-position: 1920px 0
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -1920px 0
    }
    to {
        background-position: 1920px 0
    }
}

.placeholder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    height: 88px;
    margin: 20px 0;
    font-size: 0;
    letter-spacing: 0;
    vertical-align: top;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eee;
    background: -webkit-linear-gradient(left, #eee 8%, #ddd 18%, #eee 33%);
    background: linear-gradient(90deg, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 1920px 104px
}

.placeholder:nth-child(2n) {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.placeholder>div {
    display: inline-block;
    background: #fff;
    height: 8px;
    width: 8px;
    margin-right: 10px
}

.placeholder>div:nth-child(2n) {
    margin-left: 20%
}

.placeholder>div:nth-child(odd) {
    margin-left: 30%
}

.placeholder>div:nth-child(4n) {
    margin-left: 70px
}

.placeholder>div:nth-child(4n+1) {
    margin-left: 10%
}

.placeholder>div:nth-child(5n) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%
}

.placeholder>div:nth-child(5n+1) {
    margin-right: 90px;
    margin-left: 0;
    width: 0
}

.placeholder>div:nth-child(10n+1) {
    margin-right: 30px
}

.placeholder>div:nth-child(15n+1) {
    margin-right: 80px
}

.news-listing {
    margin: 10px
}

@media screen and (max-width:1023px) {
    .news-listing {
        margin: 0
    }
}

.news-listing:after {
    content: "";
    display: block;
    clear: both
}

.news-listing .isotope-grid__sizer {
    width: 20%
}

@media screen and (max-width:1650px) {
    .news-listing .isotope-grid__sizer {
        width: 25%
    }
}

@media screen and (max-width:1500px) {
    .news-listing .isotope-grid__sizer {
        width: 25%
    }
}

@media screen and (max-width:1280px) {
    .news-listing .isotope-grid__sizer {
        width: 33.33333333%
    }
}

@media screen and (max-width:1024px) {
    .news-listing .isotope-grid__sizer {
        width: 33.33333333%
    }
}

@media screen and (max-width:1023px) {
    .news-listing .isotope-grid__sizer {
        width: 50%
    }
}

@media screen and (max-width:767px) {
    .news-listing .isotope-grid__sizer {
        width: 50%
    }
}

@media screen and (max-width:480px) {
    .news-listing .isotope-grid__sizer {
        width: 100%
    }
}

.news-listing .promo {
    float: left
}

.news-listing .promo.promo--width-2,
.news-listing .promo.promo--width-3 {
    width: 20%
}

@media screen and (max-width:1650px) {
    .news-listing .promo.promo--width-2,
    .news-listing .promo.promo--width-3 {
        width: 25%
    }
}

@media screen and (max-width:1500px) {
    .news-listing .promo.promo--width-2,
    .news-listing .promo.promo--width-3 {
        width: 25%
    }
}

@media screen and (max-width:1280px) {
    .news-listing .promo.promo--width-2,
    .news-listing .promo.promo--width-3 {
        width: 33.33333333%
    }
}

@media screen and (max-width:1024px) {
    .news-listing .promo.promo--width-2,
    .news-listing .promo.promo--width-3 {
        width: 33.33333333%
    }
}

@media screen and (max-width:1023px) {
    .news-listing .promo.promo--width-2,
    .news-listing .promo.promo--width-3 {
        width: 50%
    }
}

@media screen and (max-width:767px) {
    .news-listing .promo.promo--width-2,
    .news-listing .promo.promo--width-3 {
        width: 50%
    }
}

@media screen and (max-width:480px) {
    .news-listing .promo.promo--width-2,
    .news-listing .promo.promo--width-3 {
        width: 100%
    }
}



.dress-page .module--dress-description {
    width: 33%;
    float: right;
    overflow: hidden
}

.dress-page .module--dress-description:after {
    content: "";
    display: block;
    clear: both
}

@media screen and (max-width:1023px) {
    .dress-page .module--dress-description {
        width: 100%;
        float: none
    }
}

.dress-page .module--dress-photos {
    overflow: hidden
}

.dress-carousel {
    width: 100%;
    overflow: hidden;
    outline: none;
    font-size: 0;
    letter-spacing: 0;
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}





.promo--feedback {
    width: 300px
}

.promo--feedback__content-wrapper {
    position: relative;
    padding: 0 40px 20px;
    width: 100%
}

@media screen and (max-width:1023px) {
    .promo--feedback__content-wrapper {
        padding: 0 25px 25px
    }
}

@media screen and (max-width:767px) {
    .promo--feedback__content-wrapper {
        padding: 0 20px 20px
    }
}

.promo--feedback__avatar {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-bottom: 20px;
    overflow: hidden
}

@media screen and (max-width:767px) {
    .promo--feedback__avatar {
        margin-bottom: 15px
    }
}

.promo--feedback__avatar img {
    border-radius: 60px
}

.promo--feedback__subheadline {
    display: block;
    text-align: center
}

.promo--feedback__footnote {
    display: inline-block
}



.promo--label {
    width: 50%
}

@media screen and (max-width:1280px) {
    .promo--label {
        width: 50%
    }
}

@media screen and (max-width:1024px) {
    .promo--label {
        width: 50%
    }
}

@media screen and (max-width:767px) {
    .promo--label {
        width: 100%
    }
}

.promo--label__wrapper {
    height: 80px;
    text-align: center;
    font-size: 0;
    letter-spacing: 0
}

.promo--label__wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

@media screen and (max-width:767px) {
    .promo--label__wrapper {
        height: 70px
    }
}

@media screen and (max-width:480px) {
    .promo--label__wrapper {
        height: 60px
    }
}

.promo--label__content-wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.promo--label__copy,
.promo--label__headline {
    margin: 0 20px
}

.promo-cta {
    min-height: 400px
}

.promo.promo--effect-fadein .promo__wrapper {
    opacity: .1;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem)
}

.promo--effect-click .promo__wrapper {
    -webkit-transition: all .1s linear;
    transition: all .1s linear
}

.promo--effect-click .promo__wrapper:active {
    opacity: .6;
    -webkit-transform: translateY(2px);
    transform: translateY(2px)
}

.promo {
    
    
    font-family: Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
}



.promo .image_wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: 50px;
    background: #fff;
    text-align: center
}

.promo .promo_wrapper {
    background: #fff
}

.promo .content_wrapper {
    box-sizing: border-box
}

.promo .content_wrapper .headline {
    font: 18px/26px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

.promo .content_wrapper .subline {
    font: 14px/18px Futura PT Light, Segoe UI Light, Helvetica, Arial, sans-serif
}

.promo .ribbon {
    height: 40px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #515151
}


.promo--testmonial {
    width: 300px;
    border: 10px solid transparent
}

.promo--testmonial__wrapper {
    border-bottom: 30px solid transparent;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 30px solid transparent;
    background: rgba(0, 0, 0, .5);
    overflow: visible
}

@media screen and (max-width:767px) {
    .promo--testmonial__wrapper {
        border-width: 15px
    }
}

.promo--testmonial__icon-wrapper {
    position: absolute;
    width: 100%
}

.promo--testmonial__icon-wrapper:after,
.promo--testmonial__icon-wrapper:before {
    content: "";
    position: absolute;
    display: block;
    width: 35%;
    top: 0;
    border-top: 2px solid #fff;
    border-radius: 3px;
    text-align: center
}

@media screen and (max-width:767px) {
    .promo--testmonial__icon-wrapper:after,
    .promo--testmonial__icon-wrapper:before {
        width: 40%
    }
}

.promo--testmonial__icon-wrapper:before {
    left: 0
}

.promo--testmonial__icon-wrapper:after {
    right: 0
}

.promo--testmonial__icon {
    position: absolute;
    margin: -15px auto auto;
    width: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    color: #fff
}

@media screen and (max-width:767px) {
    .promo--testmonial__icon {
        margin: -10px auto auto;
        width: 20px;
        font-size: 20px
    }
}

.promo--testmonial__content-wrapper {
    padding: 30px 20px;
    border: 2px solid #fff;
    border-radius: 3px;
    text-align: center
}

.promo--testmonial__icon-wrapper+.promo--testmonial__content-wrapper {
    border-top: none
}

.promo--testmonial__content-wrapper * {
    color: #fff!important
}

.ellipse {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: visible!important;
    fill: #fff
}

.ellipse.ellipse--blur {
    opacity: .7;
    -webkit-filter: blur(20px);
    filter: blur(20px)
}

.form__input-row {
    margin-bottom: 10px
}

.form__button-submit {
    display: inline-block;
    padding: 10px 14px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: middle;
    background-color: #f1f1f1;
    border-radius: 1px;
    box-shadow: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    font: 14px/20px Lato, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #333;
    text-shadow: 0 1px 1px #fff
}

.form__button-submit:hover {
    color: #fff;
    text-shadow: none;
    background-color: #777
}

.form__button-regular {
    display: inline-block;
    padding: 10px 14px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    text-align: center;
    vertical-align: middle;
    background-color: #f1f1f1;
    border-radius: 1px;
    box-shadow: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    font: 14px/20px Lato, Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #333;
    text-shadow: 0 1px 1px #fff
}

.form__button-regular:hover {
    color: #fff;
    text-shadow: none;
    background-color: #777
}

.form__button-thin {
    display: inline-block;
    padding: 8px 10px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}

.form__button-thin:hover {
    color: #515151;
    background: #fff
}

.social-likes {
    margin: 20px 0
}

.social-likes li {
    list-style: none
}

.social-likes__widget {
    height: 22px;
    width: 28px;
    -webkit-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
    background: #6b6b6b;
    cursor: pointer;
    text-align: center;
    color: #fff
}

.social-likes__widget:before {
    height: 100%;
    cursor: pointer;
    font-size: 13px;
    line-height: 22px!important
}

.social-likes--vertical .social-likes__widget {
    display: block;
    margin: 7px
}

.social-likes--horizontal .social-likes__widget {
    display: inline-block;
    margin: 1px
}

.social-likes__icon {
    display: none
}

.social-likes__button {
    font-size: 0
}

.social-likes__widget_plusone:before {
    content: "\E901"
}

.social-likes__widget_plusone:hover {
    background: #c40005
}

.social-likes__widget_facebook:before {
    content: "\E904"
}

.social-likes__widget_facebook:hover {
    background: #3b5999
}

.social-likes__widget_vkontakte:before {
    content: "\E906"
}

.social-likes__widget_vkontakte:hover {
    background: #4c709d
}

.form__text-button,
.form__text-label {
    font: 14px/20px Lato, Helvetica, Arial, sans-serif;
    font-weight: 700
}

.form__text-button {
    color: #333;
    text-shadow: 0 1px 1px #fff
}

.form__text-button:hover {
    color: #fff;
    text-shadow: none
}

.form__text-input {
    font-size: 12px;
    line-height: 16px
}





